/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage {
  @apply flex flex-col gap-5 justify-center items-center w-[70vw] md:w-64 text-center bg-base-200 rounded-box p-4 font-medium;
  @apply md:hover:shadow-xl md:hover:scale-105 duration-150;
}